<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>

    <meta charset="UTF-8">
    <title>The Right Camp</title>

</head>
<body>

<!--NAVIGATION BAR-->
<div>
<ul id="navbar">
    <li><a href="home">The Right Camp</a></li>
    <li><a href="userpage">Add Post</a></li>
</ul>
</div>


<!--FORM TO ADD POST-->

<!--<form name="postForm" method="post">-->
    <!--<input  type="hidden" name="id" id="id" value="0" />-->
    <!--&lt;!&ndash;<input  type="text" name="Username" placeholder = "Username">&ndash;&gt;-->
    <!--<input  type="text" name="photourl" placeholder = "Enter your picture URL">-->
    <!--<input  type="text" name="posttext" placeholder = "Enter description">-->
    <!--<button type="button" class="btn btn-primary" onclick="savePost()">Add</button>-->
<!--</form>-->

<!--<br>-->

<!-- RETRIEVE ALL POSTS FROM DB-->

    <div id="postDiv" role="tabpanel" aria-labelledby="accounts-tab">
        <p id="post_list"></p>
        <p id="comment_list"></p>


        <div id="hiddenCommentForm">
            <form id="ComForm" name="CommentForm" method="POST">
                <textarea name="commenttext" id="commenttext" style="font-family:sans-serif;font-size:1.2em;" placeholder="Tell us what you think!"></textarea>

                <input type="hidden" id="postId" name = "postId" value = "0" >
                <input type="submit" value="Submit" onclick="saveComment()">
            </form>
        </div>

    </div>

<script type="text/javascript" th:src="@{/js/theRightCamp.js}"></script>
</body>
</html>