<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>

    <meta charset="UTF-8">
    <title>The Right Camp</title>

</head>
<body>

<!--NAVIGATION BAR-->

<div>
    <ul id="navbar">
        <li><a href="home">The Right Camp</a></li>
        <li><a href="content">Content</a></li>
        <li><a href="userpage">Add Post</a></li>
        <li style="float:right"><a class="active" href="login">Login</a></li>
        <li style="float:right"><a class="active" href="registration">Registration</a></li>
    </ul>
</div>


<h1 id="intro">Welcome to the Right camp!</h1>

<p>A place where you can share amazing sites with your fellow travelers!</p>

</body>
</html>