<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>

    <meta charset="UTF-8">
    <title>The Right Camp</title>

</head>
<body>

<!--NAVIGATION BAR-->
<ul id="navbar">
    <li><a href="home">The Right Camp</a></li>
    <li><a href="content">Content</a></li>
</ul>

Here you can add your posts with description,
and check recently added posts from other users.


<!--FORM TO ADD POST-->

<form name="postForm">
    <input  type="hidden" name="id" id="id" value="0" />
    <!--<input  type="text" name="Username" placeholder = "Username">-->
    <input  type="text" name="photourl" placeholder = "Enter your picture URL">
    <input  type="text" name="posttext" placeholder = "Enter description">
    <button type="button" class="btn btn-primary" onclick="savePost()">Add</button>
</form>

</body>
<script>


    $(document).ready( function()
        {
            console.log("User page loaded");
        }
    );

                 function savePost() {
                    console.log("it clicked");
                    $.ajax   (
                    {
                    method: "POST",
                    url: "/savePost",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(getData($('form[name=postForm]').serializeArray())),
                    complete: $(location).attr('href', '/content')
                }
            );
       }

       function getData(data) {
            var result = {};
            $.map(data, function(n) {
                result[n['name']] = n['value'];
            });
            return result;
        }





</script>


</html>