<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>

    <meta charset="UTF-8">
    <title>The Right Camp</title>

</head>
<body>

<!--NAVIGATION BAR-->
<div>
<ul id="navbar">
    <li><a href="home">The Right Camp</a></li>
    <li><a href="userpage">Add Post</a></li>
    <li style="float: right; position: relative; top: 12px; right: 10px;"><form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
        <input name="sitesearch" type="hidden" value="">
        <input autocomplete="on" class="form-control search" name="q" placeholder="           Google has it" required="required"  type="text">
        <button id="gbtn" class="button" type="submit">Search</button>
    </form>
    </li>
</ul>
</div>


<!-- RETRIEVE ALL POSTS FROM DB-->

    <div id="postDiv" role="tabpanel" aria-labelledby="accounts-tab">
        <p id="post_list"></p>
        <p id="comment_list"></p>




        <div id="hiddenCommentForm">
            <form id="ComForm" name="CommentForm" method="POST">
                <textarea name="commenttext" id="commenttext" style="font-family:sans-serif;font-size:1.2em;" placeholder="Tell us what you think!"></textarea>

                <input type="hidden" id="postId" name = "postId" value = "0" >
                <input type="submit" id="submitbtn" value="Submit" onclick="saveComment()">
            </form>
        </div>

    </div>
<br>

<script type="text/javascript" th:src="@{/js/theRightCamp.js}"></script>
</body>
</html>
