<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>

    <meta charset="UTF-8">
    <title>The Right Camp</title>

</head>


<!--NAVIGATION BAR-->

<div>
    <ul id="navbar">
        <li><a href="home">The Right Camp</a></li>
        <li><a href="content">Content</a></li>
        <li><a href="userpage">Add Post</a></li>
        <!--<li style="float:right"><a class="active" href="login">Login</a></li>-->
        <!--<li style="float:right"><a class="active" href="registration">Registration</a></li>-->
        <li style="float: right; position: relative; top: 12px; right: 10px;"><form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
            <input name="sitesearch" type="hidden" value="">
            <input autocomplete="on" class="form-control search" name="q" placeholder="           Google has it" required="required"  type="text">
            <button id="gbtn" class="button" type="submit">Search</button>
        </form>
        </li>
    </ul>
</div>

<div class="introbtns">
<h1 id="intro">Welcome to the Right camp!</h1>
<p id="intro2">A place where you can share amazing sites with your fellow travelers!</p>
<p id="intro3">You can add your amazing place or check others!</p>

<div id="btns">
<button id="ap" type="button" onclick="location.href='userpage'">Add your place</button>
<button id="cp" type="button" onclick="location.href='content'">Check places</button>
</div>
</div>


</body>
</html>