body {
    background-color: lightblue;
    display: block
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3a66ad;
}

#description {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100px;
}

#postDiv img {
   width:540px;
   height: auto; !important;
}

#hiddenCommentForm {
    visibility: hidden;
}
